/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #000000;

}

/* Header Styling */
header {
    background-color: transparent black;
    color: rgb(255, 2, 2);
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0px 5px 10px rgba(169, 0, 216, 0.99);
    width: 100%;
}

.navbar ul {
    font-weight: bold;
    white-space: nowrap;
    margin-left: 100px;
    list-style: none;
    display: flex;
    gap: 75px;
    text-align: right;


}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #0a00cdfc;
    text-decoration: underline solid;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

footer:hover {
    color: rgb(216, 0, 0);

}

footer{
    background-color: #160619cf;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9m;
    margin-top: 100em;
}


@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }


}

.h1_1 {
    color: rgb(55, 255, 0);
    font-family: monospace;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: black;
}

.h1_1:hover {
    color: rgba(169, 0, 216, 0.99);

}

button {
    font-size: x-large;
}

.one {
    margin-left: 85%;
}
.topic h2{
    color: white;
}